.order-btn {
  background-color: #198754; /* Bootstrap green */
  border: none;
  transition: background-color 0.3s ease;
}

.order-btn:hover {
  background-color: #066d1c; /* Darker green on hover */
}

textarea {
  resize: none;
}
